header {
    position: relative;
    height: var(--HEIGHT-HEADER);
    width: 100%;
    background-color: var(--COLOR-PRIMARY);
    background-image: url('../../assets/checkerboard.png');
    background-repeat: repeat;
    background-size: contain;
    color: white
}

nav a {
    color: white;
    transition: box-shadow 0.4s;
}

nav a.active {
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}